.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 5rem;
  text-align: center;
}

.item {
  margin-bottom: 1.5rem;
  color: white;
}

.rank {
  font-size: 20px;
  color: var(--landing-main-color);
}

.name {
  font-size: 18px;
  color: var(--landing-main-text-color);
}

.score {
  font-size: 18px;
  color: var(--landing-main-text-color);
}
