.heading {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  color: var(--landing-main-text-color);
}

.secondary-bg {
  background-color: var(--landing-secondary-bg-color) !important;
}

.container {
  max-width: var(--landing-max-desktop-width);
  margin: 0 auto;
  padding: 0 1.5rem;
  color: var(--landing-main-text-color);
}

.section {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: var(--landing-main-bg-color);
}
