@import './shared/constants/styles/landing-variables.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.layout {
  height: 100vh;
}

.ant-space-item .ant-card-body {
  padding: 20px;
}
