.layout {
  height: 100vh;
}

.content {
  padding: 38px 38px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  height: 100%;
}
