.content {
  padding: 38px 38px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 30px;
  background: var(--ant-color-bg-base);
  border-radius: 20px;
  height: 100%;
}
